:root {
    --meta-text-color: black;
    --decoration-color: gray;
    --activation-color: red;
    --highlight-color: blue;
    --backdrop: rgb(214, 213, 213);
    --app-background: rgb(255, 255, 232);
    --query-background: rgb(255, 242, 200);
    --result-background: rgb(248, 250, 244);
    --result-text-color: black;
}


.clipboard {
    white-space: nowrap;
    transition: all 0.25s ease-out;
    color: var(--meta-text-color);
    text-align: right;
}

.clipboard::after {
    content: "📋";
    margin-left: 5px;
}

.clipboard:hover {
    color: var(--highlight-color);
}

.clipboard:active {
    background-color: var(--activation-color);
    transition: all 0s;
    opacity: 1;
}