:root {
    --meta-text-color: black;
    --decoration-color: gray;
    --activation-color: red;
    --highlight-color: blue;
    --backdrop: rgb(214, 213, 213);
    --app-header-background: rgb(202, 214, 225);
    --app-background: rgb(165, 188, 207);
    --query-background: rgb(250, 242, 222);
    --result-background: rgb(232, 238, 223);
    --result-text-color: black;
    --error-decoration-color: rgb(107, 5, 4);
    --error-text-color: rgb(107, 5, 4);
    --error-background: rgb(255, 243, 243);
}

.hljs {
    background: var(--result-background) !important;
}

.clipboard {
    white-space: nowrap;
    transition: all 0.25s ease-out;
    color: var(--meta-text-color);
    text-align: right;
}

.clipboard::after {
    content: "📋";
    margin-left: 5px;
}

.clipboard:hover {
    color: var(--highlight-color);
}

.clipboard:active {
    background-color: var(--activation-color);
    transition: all 0s;
    opacity: 1;
}